html {
    scroll-behavior: smooth;
}

.page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

/* HEADER */
/*#region*/
#head_cover {
    background-image: url('../Media/computer_background.jpg');
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(242, 86, 35, 0.9);
}

.top {
    width: 100%;
    display: table;
}

.profile_thumb {
    background: url(../Media/Fake_picture.jpg);
    box-shadow: 3px 3px 10px 1px #671c04;
}

#head_cover .profile_thumb {
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#head_cover .name,
.title,
.top_social {
    position: relative;
    text-align: center;
}

.name h1 {
    font-family: "Kaushan Script", cursive;
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 1.3;
    font-weight: 300;
    color: #eee;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.title h3 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    color: #eee;
}

.top_social ul {
    list-style-type: none;
    padding: 0;
}

.top_social li {
    display: inline;
}

.top_social li a {
    display: inline-flex;
    color: #eee;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 40px;
    transition: transform .2s;
}

.top_social li a:hover {
    color: #0e5959;
    cursor: pointer;
    transform: scale(1.2);
}

/*#endregion */

/* Navigation Bar */
/*#region */
.nav {
    background-color: #0e5959;
    height: 60px;
}

.navigationBar ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.navigationBar li {
    display: inline-grid;
}

.navigationBar li a {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    color: #eee;
    display: inline-flex;
    text-decoration: none;
    padding: 12px 12px;
}

.navigationBar li a:hover {
    background-color: #f25623;
    border-radius: 0px;
}

/*#endregion */

/* First Row */
/*#region*/
.about_ME {
    font-family: "Kaushan Script", cursive;
    margin-bottom: 5em;
}

.about_ME h1 {
    font-size: 50px;
    margin-top: 2em;
}


.first_row {}

.contact_Info {
    margin-bottom: 4em;
}

.contact_Info ul {
    margin: 0;
    padding: 0;
    width: 90%;
    float: left;
}

.contact_Info li {
    width: 100%;
    float: left;
    list-style: none;
    padding: 10px 0;
}

.contact_Info li .first-col {
    font-family: "Space Mono", monospace;
    width: 40%;
    display: inline-block;
    float: left;
    color: #000;
    font-weight: bold;
}

.contact_Info li .second-col {
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    display: inline-block;
    color: #002727;
    opacity: .8;
}

.about h3 {
    color: #000;
    font-family: "Space Mono", Arial, serif;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.about p {
    margin-bottom: 30px;
}

.social_About {
    padding: 0;
    margin: 0;
}

.social_About li {
    list-style: none;
    display: inline;
}

.social_About li a {
    display: inline-flex;
    text-decoration: none;
    padding: 10px;
    background: #0e5959;
    color: #eee;
    border-radius: 5px;
    margin-right: 10px;
    transition: transform .2s;
}

.social_About li a .fa-brands {
    font-size: 25px;
}

.social_About li a:hover {
    background: #f25623;
    color: #0e5959;
    cursor: pointer;
    transform: scale(1.2);
}

/*#endregion*/

/*SECOND ROW */
/*#region*/
.second_row {
    margin-bottom: 4em;
}

.skill_title {
    font-family: "Kaushan Script", cursive;
    margin-bottom: 5em;
}

.skill_title h1 {
    font-size: 50px;
    margin-top: 2em;
}

.skills_name ul {
    margin: 0;
    padding: 0;
    float: left;
}

.skills_name li {
    width: 100%;
    float: left;
    list-style: none;
    padding: 10px 0;
}

.skills_name li .skill-col {
    font-family: "Space Mono", monospace;
    width: 40%;
    display: inline-block;
    color: #000;
    font-weight: bold;
}


@keyframes load {
    from {
        width: 0%
    }
}

@-webkit-keyframes load {
    from {
        width: 0%
    }
}

@-moz-keyframes load {
    from {
        width: 0%
    }
}

@-o-keyframes load {
    from {
        width: 0%
    }
}

.bar {
    background-color: rgb(0, 0, 0, 0.8);
    padding: 2px;
    box-shadow: 1px 1px 5px #002727;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.bar::before {
    content: attr(data-skill);
    background: linear-gradient(to right, #002727, #0e5959, #f25623 60%, #FC903F, #3FFCBC);
    display: inline-grid;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}

/* .bar.front::before { 
    background-color: #ffcc33;
}

.bar.back::before {
    background-color: #a6cfe3;
}
*/

.bar.back-end::before {
    width: calc(75% - 10px);
}

.bar.front-end-HTML::before {
    width: calc(40% - 10px);
}

.bar.front-end-CSS::before {
    width: calc(40% - 10px);
}

.bar.front-end-BS::before{
    width: calc(25% - 10px);
}

.bar.JS::before {
    width: calc(10% - 10px);
}


/*#endregion*/

/* THIRD ROW PORTFOLIO */
/*#region*/
.third_row {
    margin-bottom: 4em;
}

.portfolio {
    font-family: "Kaushan Script", cursive;
    margin-bottom: 5em;
}

.portfolio h1 {
    font-size: 50px;
    margin-top: 2em;
}

.gallery img {
    /* You can set the dimensions to whatever you want */
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
}

.airbox a {
    background: #002727;
    color: #eee;
    align-self: center;
    text-decoration: none;
    border-radius: 40px 40px 40px 40px;

}

.airbox a:hover {
    /* border: #f25623 8px solid; */
    background: #f25623;
    color: #002727;
    border-radius: 40px 40px 40px 40px;
}

.detroix a {
    background: #002727;
    color: #eee;
    align-self: center;
    text-decoration: none;
    border-radius: 40px 40px 40px 40px;
}

.detroix a:hover {
    /* border: #f25623 8px solid; */
    background: #f25623;
    color: #002727;
    border-radius: 40px 40px 40px 40px;
}

.kiosk a {
    background: #002727;
    color: #eee;
    align-self: center;
    text-decoration: none;
    border-radius: 40px 40px 40px 40px;
}

.kiosk a:hover {
    /* border: #f25623 8px solid; */
    background: #f25623;
    color: #002727;
    border-radius: 40px 40px 40px 40px;
}

.airbox {
    margin-bottom: 2em;
    text-align: center;
    
}

.detroix {
    margin-bottom: 2em;
    text-align: center;
}

.kiosk {
    margin-bottom: 2em;
    text-align: center;
}

.desc {
    font-family: "Space Mono", monospace;
    font-size: large;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0px 0px 40px 40px;
}

/*#endregion*/

/* CONTACT */
/*#region */
input[type=text], textarea,[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  

/*#endregion */


/* MEDIA QUERY */
/*#region */
@media (min-width: 1200px) {
    .navigationBar li a {
        font-size: x-large;
        margin-inline: 50px;
    }

    .first_row .container {
        width: 70%;
    }

    .second_row .container {
        width: 70%;
    }

    .third_row .container {
        width: 70%;
    }

}

@media (max-width: 1199px) {
    .navigationBar li a {
        font-size: larger;
        margin-inline: 40px;
        padding: 15px 10px 16px 10px;
    }
}

@media (max-width: 992px) {
    .navigationBar li a {
        font-size: large;
        margin-inline: 25px;
        padding: 16px 10px 17px 10px;
    }
}

@media (max-width: 768px) {
    .navigationBar li a {
        font-size: medium;
        margin-inline: 10px;
        padding: 18px 10px 18px 10px;
    }
}

@media (max-width:576px) {
    .navigationBar li a {
        font-size: small;
        margin-inline: -2px;
        padding: 20px 10px 20px 10px;
    }
}

/*#endregion */